<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="/">
<title>Enregistrer un nouveau client Stripe</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/application.css">
<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/bootstrap.min.js"></script> 
</head>
<body>
<div class="row">
	<div class="signup-form col-xs-4 col-xs-offset-4">
		<form action="{{ path_for('newuser') }}" method="post">
			<input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
			<input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
			<h2>Ajouter un utilisateur</h2>
            <div class="panel panel-default">
                <div class="panel-body">
					Inscrivez l'adresse du site internet client<br>
					devant bénéficier du service et<br>
					entrez son adresse e-mail de contact.<br>
                    Un courriel lui sera automatiquement envoyé<br>
					contenant le lien d'ou il pourra inscrire<br>
					les identifiants "Stripe" nécéssaires aux transactions.
                </div>
            </div>
			<div class="form-group">
				<input type="text" class="form-control" name="agence" placeholder="Agence" required="required">
				<input type="email" class="form-control" name="email" placeholder="Email" required="required">
				<button type="submit" class="btn btn-success btn-lg btn-block">Envoyer</button>
			</div>
		</form>
	</div>
</div>
</body>
</html>                            