<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="/">
<title>Enregistrer vos clefs Stripe</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/application.css">
<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/bootstrap.min.js"></script> 
</head>
<body>
    <div class="row">
        <div class="signup-form col-xs-4 col-xs-offset-4">
            <form action="{{ path_for('adduser') }}" method="get">
                {% if error %}
                    <h2>Error</h2>
                    <p class="error">
                        {{ error|raw }}<br>
                        {% if generated_link %}
                            <a href="{{ generated_link }}">{{ generated_link }}</a>
                        {% endif %}
                    </p>
                {% else %}
                    <h2>Success</h2>
                    <p class="success">E-mail envoyer à {{ email }}</p>
                    <p class="success">Lien: <a href="{{ generated_link }}">{{ generated_link }}</a></p>
                {% endif %}
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Ajouter un nouvel utilisateur</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>    

