<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="/">
<title>Ipefix Payment Solution</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/application.css">
<link rel="stylesheet" href="css/paystart.css">
<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container main hidden">
        <div class="row header">
            <div class="col-sm-6 col-xs-12 col-sm-offset-3">
                <div class="text-center">
                    <h1 class="boldi light-blue">Ipefix Payment Solution</h1>
                </div>
            </div>
        </div>
        <div class="row content">
            <form action="{{ path_for('payment_identify') }}" method="post">
                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
                <div class="col-sm-6 col-xs-12 border-right">
                    <div class="content-left">
                        <h2 class="dark-blue boldi">Méthode de payement</h2>
                        <h4 class="mid-blue">&Eacute;tape 1</h4>
                        <h3 class="dark-blue boldi">{{ amount|raw }}</h3>
                        <p class="product bold">{{ product }}</p>
                    </div> 
                </div>
                <div class="col-sm-6 col-xs-12 border-left">
                    <div class="content-right">
                        <p class="mid-blue bold">Choisissez votre prestataire de service.</p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="radio form-control">
                                    <label>
                                        <input type="radio" name="payment-type" value="card" checked>
                                        <table border="0" role="table">
                                            <tbody>
                                                <tr>
                                                    <td align="left">
                                                        <img src="images/card.png" alt="cc-logo" class="img-thumbnail">
                                                    </td>
                                                    <td align="left">
                                                        <span class="bold mid-blue">Carte de crédit</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="radio form-control">
                                    <label>
                                        <input type="radio" name="payment-type" value="bancontact">
                                        <table border="0" role="table">
                                            <tbody>
                                                <tr>
                                                    <td align="left">
                                                        <img src="images/bancontact.png" alt="bancontact-logo" class="img-thumbnail">
                                                    </td>
                                                    <td align="left">
                                                        <span class="bold mid-blue">Bancontact</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="radio form-control">
                                    <label>
                                        <input type="radio" name="payment-type" value="ideal">
                                        <table border="0" role="table">
                                            <tbody>
                                                <tr>
                                                    <td align="left">
                                                        <img src="images/ideal-small.png" alt="iDeal-logo" class="img-thumbnail">
                                                    </td>
                                                    <td align="left">
                                                        <span class="bold mid-blue">iDeal</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="radio form-control">
                                    <label>
                                        <input type="radio" name="payment-type" value="sofort">
                                        <table border="0" role="table">
                                            <tbody>
                                                <tr>
                                                    <td align="left">
                                                        <img src="images/sofort.png" alt="Sofort-logo" class="img-thumbnail">
                                                    </td>
                                                    <td align="left">
                                                        <span class="bold mid-blue">Sofort</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </label>
                                </div>
                            </li>
                            {# <li class="list-group-item">
                                <div class="radio form-control">
                                    <label>
                                        <input type="radio" name="payment-type" value="iban">
                                        <img src="images/iban.png" alt="iBan-logo" class="img-thumbnail">&nbsp;&nbsp;<span class="bold mid-blue">iBan</span>
                                    </label>
                                </div>
                            </li> #}
                        </ul>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default btn-sm btn-block bold">Suivant</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row footer">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="text-center copyr">&copy; Ipefix 2019</div>
            </div>
        </div>
    </div>
    <div class="container loader"></div>
    <script src="js/loadingoverlay.min.js"></script>
    <script src="js/application.js"></script>
</body>
</html>